<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation" [ngbCollapse]="!showMobileMenu">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="javascript: void(0);" routerLink="/dashboard">
                        <i class="fe-airplay"></i>Dashboard </a>
                   
                </li>
                <li class="has-submenu">
                    <a href="javascript: void(0);" routerLink="/dashboard/products">
                        <i class="fe-grid"></i>Products </a>
                  
                </li>
                <li class="has-submenu">
                    <a href="javascript: void(0);" routerLink="/dashboard/orders"> <i class="fe-briefcase"></i>Orders
                        </a>
                   
                </li>
              
                
                <li class="has-submenu">
                    <a href="javascript: void(0);" routerLink="/dashboard/customers"> <i class="fe-briefcase"></i>Customers
                        </a>
                   
                </li>
                

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->